.form-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  
  .close-btn-wrapper{
    width: 100%;
    padding: 20px;
    
    .close-btn {
      // background-color: rgba(153, 151, 151, 0.4);
      // opacity: 0.1;
      height: 50px;
      width: 50px;
      font-size: 30px;
      font-weight: 200;
      border: none;
      border-radius: 50%;
      color: red;
      
    }
  }


  .form-card {
    width: 500px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;

    select {
      &:focus {
        outline: none;
      }
    }

    i {
      color: #3498db;
    }

    input[type="file"] {
      color: #3498db;
      display: none;
    }

    button {
      color: white;
      background-color: #3498db;
      width: fit-content;
      padding: 5px 25px 5px 25px;
      border-radius: 5px;
      border: none;

      &:disabled {
        background-color: #96d0f7;
      }
    }
  }
}
