<div fxHide="{{hideModal}}" class="form-container" fxLayout="column wrap" fxLayoutAlign="start center">
  <div class="close-btn-wrapper" fxLayout="row wrap" fxLayoutAlign="end start">
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <div class="form-card" fxLayout="column wrap" fxLayoutAlign="space-evenly" [formGroup]="productForm">
    <label>Product Name</label>
    <input type="text" formControlName="name">
    <label>Price</label>
    <input type="number" formControlName="price">
    <label>Description</label>
    <textarea formControlName="description" cols="20" rows="10"></textarea>
    <label>Category</label>
    <select formControlName="category">
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
    <label>
      <i class="fas fa-file-image"></i>
        Choose image file
      <input type="file" formControlName="image" (change)="readImage($event)">
    </label>
    <button type="submit" (click)="btnClick()" [disabled]="productForm.status==='INVALID'">Add</button>
  </div>
</div>