<div class="form-container" fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="form-card" fxLayout="column wrap" fxLayoutAlign="space-evenly">
    <label>Product Name</label>
    <input type="text" name="name" id="">
    <label>Price</label>
    <input type="number" name="price" id="">
    <label>Description</label>
    <textarea name="" id="" cols="20" rows="10"></textarea>
    <label>Category</label>
    <input type="text" name="category" id="">
    <input type="file" name="image" id="">
    <button type="submit">Add</button>
  </div>
</div>