.product-detail-card{
  border: 1px solid gray;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  margin: 10px;
  img{
    border-radius: 10px;
    width: 398px;
    height: 250px;
  }
  .details{
    padding: 10px;
    h4{
      font-weight: 400;
      font-size: 18px;
    }
  }
  button{
    border-radius: 8px;
    background-color: #f3cb47;
    color: #ffffff;
  }
}