<div class="home-page-container" fxLayout="row" fxLayout.xs="column wrap" fxLayoutAlign.xs="">
  <div class="left-side" fxHide="true" fxShow.gt-sm>
    <div class="layer" fxLayout="column wrap" fxLayoutAlign="center center">
      <div class="left-text" fxLayout="column wrap" fxLayoutAlign="center">
        <h1>i-Dduuka</h1>
        <br />
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          recusandae animi laboriosam ducimus earum velit maiores ex expedita
          facilis neque dolore facere, quos ab at quibusdam laudantium officiis
          aperiam suscipit.
        </h3>
      </div>
    </div>
  </div>
  <div class="right-side" fxLayoutAlign.xs="column wrap">
    <div class="login-card" fxLayout="column wrap" fxLayoutAlign="center center">
      <h2>Welcome</h2>
      <br />
      <img
        src="https://cdn2.iconfinder.com/data/icons/person-gender-hairstyle-clothes-variations/48/Female-Side-comb-O-neck-512.png"
        alt="profile" /><br />
      <div [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
        <div class="input-container">
          <input type="email" formControlName="email" placeholder="Enter your email here" />
        </div>
        <br />
        <div class="input-container">
          <input type="password" formControlName="password" placeholder="Enter your password here" />
        </div>
        <br />
        <button class="login-btn" type="submit" [disabled]="disabled" (click)="logInuser()">{{label}}</button><br />
        <a href="">Forgot password?</a><br />
        <!-- <div class="social-btns">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
            <path fill="#039be5" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z" />
            <path fill="#fff"
              d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z" />
          </svg>
          <button>twitter</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
