<app-loader [loading]="loading"></app-loader>
<app-product-form *ngIf="showProductForm"></app-product-form>
<div 
  class="page-container"
  fxLayout="column wrap"
  gdAreas="header header | side content"
  gdRows="80px auto"
  gdColumns="25% auto"
>
  <div class="nav-bar" fxLayout="row" fxLayoutAlign="center center" gdArea="header">
    <h2>Products</h2>
  </div>
  <div gdArea="side" class="profile">
    <app-profile *ngIf="!loading"></app-profile>
  </div>
  <div gdArea="content" class="products">
    <div fxLayout="row wrap" fxLayoutAlign="start end">
      <app-product-detail
      *ngFor="let product of products"
      [productName]='product.name'
      [price]='product.price'
      [description]='product.description'
      [postedBy]='product.postedBy.username'
      [imageUrl]='product.imagePath'
      (buttonClick)='placeOrder($event)'
      >
      </app-product-detail>
    </div>
  </div>
  <button class="add-btn" (click)="addProduct()">+</button>
</div>
