.page-container{
  height: 100vh;
  overflow: auto;
  .profile{
    position: fixed;
    width: 25%;
    height: 100%;
    margin-top: 60px;
    border-right: 1px solid gray;
    overflow: hidden;
  }

  .products{
    padding: 10px;
  }

  .nav-bar{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #3498db;
    color: white;
  }
  h2{
    font-weight: 200;
  }
  
  button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background-color: #3498db;
    color: white;
    font-size: 30px;
    border-radius: 50%;
  }
}