<div class="profile-card" fxLayout="column wrap">
  <div class="profile-pics" fxLayout="column wrap" fxLayoutAlign="center center">
    <img
      src="{{coverPhoto}}"
      alt="cover"
      class="cover-photo"
    >
    <img
      src="{{profilePic}}"
      alt="profile"
      class="profile-photo"
    >
  </div>
  <div class="profile-info" fxLayout="column wrap" fxLayoutAlign="start center">
    <h4>{{name | titlecase}}</h4>
    <i class="fas fa-envelope"></i>
    <p>{{email}}</p>
    <i class="far fa-calendar-alt"></i>
    <p>{{ DOR | date }}</p>
    <i class="fas fa-mobile"></i>
    <p>{{phone}}</p>
    <i class="fas fa-map-marker-alt"></i>
    <p>{{ location | titlecase}}</p>
  </div>
</div>
