$primary-color: #3498db;
$disbled-btn-color: #96d0f7;
.home-page-container {
  height: 100vh;

  @media screen and (max-width:599px){
    // width: 100%;
    // height: 100%;
  }

  .right-side {
    width: 50%;
    padding: 20px;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    .login-card {
      border: 2px solid gray;
      height: 100%;
      padding: 20px;

      .messages{
        color: red;
      }

      h2 {
        font-weight: 900;
      }

      .login-btn {
        width: 400px;
        height: 60px;
        border-radius: 40px;
        color: #fff;
        background-color: $primary-color;

        &:disabled{
          background-color: $disbled-btn-color;
        }
      }

      .input-container {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 40px;
      }
      
      input {
        margin-left: 20px;
        width: 400px;
        height: 40px;
        border: none;
      }
      ::placeholder {
        font-weight: 100;
      }

      img {
        background-color: aqua;
        height: 20%;
        width: 20%;
        border-radius: 50%;
      }
    }
  }

  .left-side {
    background-image: url('/assets/images/jeans-428614_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

    .layer {
      background-color: rgba(52, 152, 219, 0.6);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    .left-text {
      color: #fff;

      h1 {
        font-size: 80px;
        font-weight: bolder;
      }
      h3 {
        font-weight: 100;
      }
    }
  }
}
