<div class="home-page-container" fxLayout="row" fxLayout.xs="column wrap" fxLayoutAlign.xs="">
  <div class="left-side" fxHide="true" fxShow.gt-sm>
    <div class="layer" fxLayout="column wrap" fxLayoutAlign="center center">
      <div class="left-text" fxLayout="column wrap" fxLayoutAlign="center">
        <h1>i-Dduuka</h1>
        <br />
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          recusandae animi laboriosam ducimus earum velit maiores ex expedita
          facilis neque dolore facere, quos ab at quibusdam laudantium officiis
          aperiam suscipit.
        </h3>
      </div>
    </div>
  </div>
  <div class="right-side" fxLayoutAlign.xs="column wrap">
    <div class="login-card" fxLayout="column wrap" fxLayoutAlign="center center">
      <h2>Welcome</h2>
      <br />
      <img
        src="https://cdn2.iconfinder.com/data/icons/person-gender-hairstyle-clothes-variations/48/Female-Side-comb-O-neck-512.png"
        alt="profile" /><br />
      <div [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
        <div class="input-container">
          <input type="email" formControlName="email" placeholder="Enter your email here" />
        </div>
        <br />
        <div class="input-container">
          <input type="password" formControlName="password" placeholder="Enter your password here" />
        </div>
        <span class="messages">{{errorMessage}}</span>
        <br />
        <button class="login-btn" type="submit" [disabled]="disabled" (click)="logInuser()">{{label}}</button><br />
        <a href="">Forgot password?</a><br />
      </div>
    </div>
  </div>
</div>
